.body {
    background: linear-gradient(to top right, #0c172e,  #869dca);
    margin-top: 10em;
    margin-bottom: 10em;
    border-radius: 2em;
}

a {
    font-size: larger;
    font-weight: bolder;
    color: gold;

}

.project {
    background: linear-gradient(rgb(10, 15, 24), rgb(25, 25, 131));
    margin-bottom: 3em;
}