.body {
    background: linear-gradient(to top right, #175f41,  #869dca);
    margin-top: 10em;
    margin-bottom: 10em;
    border-radius: 2em;
    padding-top: 3em;
    padding-bottom: 4em;

}

a {
    font-size: larger;
    font-weight: bolder;
    color: rgb(245, 226, 118);

}

.project {
    background: linear-gradient(rgb(32, 47, 75), rgb(18, 93, 233));
    margin-bottom: 3em;
    margin-left: 5em;
    margin-right: 5em;
}

p {
    color:rgb(179, 250, 179)
}