.header {
    background: linear-gradient(to top right, #e6bd0b,  #869dca);
    justify-content: center;
    border-radius: 10em;
    border-width: 2em;
    border-color: darkgray;
    display: flex,
    
}

p {
    text-shadow: 2em;
    font-style: oblique;
    font-size: large;
    color:rgb(253, 137, 4)
}

.link {
    color: rgb(30, 6, 138)
    
}

h2 {
    color: rgb(10, 10, 68);
}

img {
    border-radius: 2em;
}