.header {
    background: linear-gradient(to top right, #e6bd0b,  #869dca);
    justify-content: center;
    border-radius: 10em;
    border-width: 2em;
    border-color: darkgray;
    display: flex,
    
}

p {
    text-shadow: 2em;
    font-style: oblique;
    color:rgb(4, 4, 56)
}

.link {
    color: rgb(30, 6, 138)
    
}